.backGround {
  background-color: #d3e4cd;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
.view {
  background-color: #d3e4cd;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  height: auto;
}
.btn-color {
  background-color: #99a799;
}
.view-btn-color {
  background-color: #a2d2ff;
  border: 1px solid blue;
}
.update-btn-color {
  background-color: #6ecb63;
  border: 1px solid green;
  margin-right: 5px;
  margin-left: 5px;
}
.delete-btn-color {
  background-color: #ff616d;
  border: 1px solid red;
}
